<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>단어 목록</title>
    <style>
        .pagination span, .pagination a {
            margin: 0 3px; /* 좌우 여백 추가 */
        }
    </style>
</head>
<body>
<h1>단어 목록</h1>

<!-- 언어 선택 드롭다운 폼 -->
<form action="/words/list" method="get">
    <select name="lang" onchange="this.form.submit()">
        <option value="" th:selected="${lang == null || lang == ''}">모든 언어 / All Languages</option>
        <option value="영어" th:selected="${lang == '영어'}">영어 / English</option>
        <option value="일본어" th:selected="${lang == '일본어'}">일본어 / 日本語</option>
        <option value="중국어" th:selected="${lang == '중국어'}">중국어 / 中文</option>
        <option value="베트남어" th:selected="${lang == '베트남어'}">베트남어 / Tiếng Việt</option>
        <option value="프랑스어" th:selected="${lang == '프랑스어'}">프랑스어 / Français</option>
    </select>
</form>

<ul>
    <li th:each="word : ${words}">
        <a th:href="@{/words/view(title=${word.title}, lang=${word.lang})}" th:text="${word.title}"></a> -
        <span th:text="${word.translation}"></span>
        <!-- 수정 버튼 -->
        <form th:action="@{/words/update/check(title=${word.title}, lang=${word.lang})}" method="post" style="display:inline;">
            <button type="submit">수정</button>
        </form>

        <!-- 삭제 버튼 -->
        <form th:action="@{/words/delete/check(title=${word.title}, lang=${word.lang})}" method="post" style="display:inline;">
            <button type="submit">삭제</button>
        </form>
    </li>
</ul>

<!-- 페이지 네비게이션 추가 부분 -->
<div class="pagination">
    <span>
        <a th:href="@{/words/list(page=1, lang=${lang})}" th:text="'처음'" th:class="${page == 1 ? 'disabled' : ''}"></a>
    </span>
    <span>
        <a th:href="@{/words/list(page=${page > 1 ? page - 1 : 1}, lang=${lang})}"
           th:text="'이전'"
           th:class="${page > 1 ? '' : 'disabled'}"
           th:if="${page > 1}"></a>
        <span th:if="${page == 1}">이전</span>
    </span>
    <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
        <a th:href="@{/words/list(page=${i}, lang=${lang})}" th:text="${i}"></a>
    </span>
    <span>
        <a th:href="@{/words/list(page=${page < totalPages ? page + 1 : totalPages}, lang=${lang})}"
           th:text="'다음'"
           th:class="${page < totalPages ? '' : 'disabled'}"
           th:if="${page < totalPages}"></a>
        <span th:if="${page == totalPages}">다음</span>
    </span>
    <span>
        <a th:href="@{/words/list(page=${totalPages}, lang=${lang})}" th:text="'끝'" th:class="${page == totalPages ? 'disabled' : ''}"></a>
    </span>
</div>
<!-- 페이지 네비게이션 추가 끝 -->

<a href="/words">홈으로 돌아가기</a>
<a href="/words/view/input">단어 조회</a>
<a href="/words/register">단어 등록</a>
<a href="/words/delete/input">단어 삭제</a>
</body>
</html>